* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 3px; }

.header {
  color: #FFFFFF;
  background: #388BC7;
  height: 75px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 22px; }

.container {
  width: 533px;
  margin-left: 160px;
  margin-top: 30px; }

.footer {
  background: #C7DEEF;
  height: 75px;
  padding-top: 20px; }

.container {
  border: 2px solid #C1C1C1;
  border-radius: 4px;
  box-shadow: 5px; }

.sbutton {
  vertical-align: middle;
  color: #FFFFFF;
  background: #388BC7;
  width: 100px;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 13px; }
